:root {
    --color-rojo-rubi: #E0115F;
    --color-azul-zafiro: #2E8B57;
    --color-verde-esmeralda: #008B00;
    --color-gris-claro: lightgray;
    --color-gris-oscuro: #333;
    --color-gris-sombra: #ddd;
    --color-blanco: #fff;
    --color-azul-indigo-oscuro: #062863;
    --color-azul-indigo-claro: #1c4c96;
}

body
{
    color: var(--color-gris-oscuro);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
.page-container
{
    max-width: 1400px;
}
.site-header
{
    padding: 0.5rem;
    background-color: var(--color-azul-indigo-oscuro);
    color: var(--color-blanco);
    text-decoration: none;
}
.site-header-inner
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.site-header-logo
{
    display: block;
    width: 100px;
    flex: none;
}
.header_title
{
    display: inline;
    font-size: 2rem;
    margin-right: 1rem;
}
.header_subtitle
{
    display: inline;
    font-size: 1.2rem;
}
.main-container
{
    padding: 10px 20px;
    margin: 10px auto;
    width: 70%;
    text-align: left;
    border: 1px solid var(--color-gris-sombra);
    border-radius: 16px;
}
.post
{
    margin: 0 auto;
    padding-bottom: 20px;
}
.button
{
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 1rem;
    background-color: var(--color-azul-indigo-claro);
    color: var(--color-blanco);
    text-decoration: none;
    text-transform: uppercase;
}
footer
{
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 1rem;
    text-align: center;
    padding: 0.5rem;
    background-color: var(--color-gris-oscuro);
    color: var(--color-gris-claro);
}
.footer_title
{
    display: inline;
    font-size: 1rem;
    margin-right: 1rem;
}
.footer_text
{
    display: inline;
    font-size: 0.8rem;
}

/* AGREGADOS POR CHAT GPT */

article {
    background-color: var(--color-gris-claro);
    border: 12px solid var(--color-rojo-rubi); /* Borde grueso y verde esmeralda */
    font-family: Arial, sans-serif;
    color: var(--color-gris-oscuro); /* Color de fuente rojo rubí */
    border-radius: 25px 0 0 25px; /* Redondeado en esquina superior-izquierda */
}

article::before,
article::after {
    content: "";
    display: block;
    width: 3px;
    height: 100%;
    background-color: var(--color-verde-esmeralda); /* Color del borde verde esmeralda */
}

article::before {
    border-top-left-radius: 25px; /* Redondeado en esquina superior-izquierda */
    border-bottom-left-radius: 25px; /* Redondeado en esquina inferior-izquierda */
    border-right: none; /* Sin borde en el lado derecho */
}

article::after {
    border-top-right-radius: 25px; /* Redondeado en esquina superior-derecha */
    border-bottom-right-radius: 25px; /* Redondeado en esquina inferior-derecha */
    border-left: none; /* Sin borde en el lado izquierdo */
}
